.form {
  display: flex;
  flex-direction: column;

  .title {
    text-align: center;
  }

  .error {
    text-align: center;
    color: red;
  }

  .button {
    margin: 25px 0;
  }

  .link {
    * {
      text-decoration: none;
    }
  }
}